@keyframes online-animate {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;	
	}
}

@keyframes offline-animate {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;	
	}
}

.online-indicator-container{
    animation: online-animate 3s linear;
}

.offline-indicator-container{
    animation: offline-animate 3s linear;
}

.online-indicator-container,
.offline-indicator-container {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    padding: 12px;
    align-items: center;
    justify-content: space-between;
	display: flex !important ;
}